certifi==2019.6.16
chardet==3.0.4
cycler==0.10.0
docutils==0.15.2
idna==2.8
Kivy==1.11.1
Kivy-Garden==0.1.4
kiwisolver==1.0.1
matplotlib==2.2.2
modernize==0.6.1
mysql-connector-python==8.0.11
numpy==1.14.5
olefile==0.46
Pillow==6.2.1
protobuf==3.6.0
PyAudio==0.2.11
-e git+https://github.com/bcollazo/dejavu@ba6ce94598632a994af8d8e331e768dc78d6f89b#egg=PyDejavu
pydub==0.22.1
Pygments==2.4.2
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
requests==2.22.0
scipy==1.1.0
six==1.11.0
SQLAlchemy==1.2.9
SQLAlchemy-Utils==0.34.2
tenacity==5.1.1
urllib3==1.25.6
wavio==0.0.4
wincertstore==0.2
